<ion-header>

  <ion-navbar>
    <ion-title>On Call</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>




</ion-content>


<ion-content class="hvac">
	<div>You are on call for the following services:</div>
  <div class="google-map-wrapper">
    <google-map></google-map>
  </div>

  <div class="bottom request-controls">
  	<ion-row>
  		<ion-col>
  			<button [hidden]="isServiceRequested" block primary (click)="confirmService()">Request Service</button>
  			<button [hidden]="!isServiceRequested" block secondary (click)="cancelService()">Cancel Service</button>

  		</ion-col>
  	</ion-row>
  	<ion-row>
  		<ion-col>
  			HELP is on the way
  		</ion-col>
  	</ion-row>
    <ion-list>
      <ion-item *ngIf="job">
        <div>Client Name: {{jobInfo.client_name}}</div>
        <div>Job Address: {{jobInfo.client_location}}</div>
        <div>Client Phone: {{jobInfo.phone_number}}</div>

      </ion-item>
      <ion-item *ngIf="job === false">
        <button ion-button (click)="deactivate()">Cancel</button>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
