$defaultBackgroundColor: #000;

page-home {

  .content-ios {
    background: lighten($defaultBackgroundColor, 20%);
  }

  .scroll-content {
    color: #fff;
    background: #8d9fa2;
    margin-bottom: 260px;
    opacity: .9;
  }

  .content-ios:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url('../../assets/tools.jpg');
    background-repeat: no-repeat;
    background-position: 10% 0%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  button{
    text-align: center;
    height: 300px;
    width: 100%;
  }

  .logout-link{
    margin-right: 10px;
    color: blue;
    float: right;
  }

  .menu-btn{
    width: 10%;
  }
}
