$defaultBackgroundColor: #000;

page-search {

  .list-item {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .search-content {
    background: lighten($defaultBackgroundColor, 20%);
  
    .search-header {
      margin: 10px;
      text-align: center;
    }
  
    .details-btn {
      width: 100%;
      margin-top: 10px;
    }
  
    h2 {
      padding-top: 10px;
      text-align: center;
      color: #fff;
    }
  
    .search-box {
      background: #8d9fa2;
      padding: 0px 10px 0px 10px;
      margin-top: 20px;
      border-radius: 10px;
      opacity: .9;
    }
  }

  .search-content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url('../assets/tools.jpg');
    background-repeat: no-repeat;
    background-position: 10% 0%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
