$defaultBackgroundColor: #000;

page-job-completion {

  h2, h3 {
    font-family: "Noto Sans";
    padding: 20px;
    margin-bottom: 0px;
    color: #fff;
  }

  textarea {
  margin-top: 10px;
  margin-left: 10px;
  width: 94%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #ccc #ccc -moz-use-text-color;
  border-image: none;
  border-radius: 10px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #696969;
  font-family: "Noto Sans";
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

  select {
    margin: 10px 0px 0px 20px;
    border: 1px solid #111;
    background: transparent;
    width: 50px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://www.surveylegend.com/img/icons/fields-most-common-rating-star-on.svg) 96% / 50% no-repeat #eee;
  }

  .item-cover {
    padding:20px;
  }

  .finish-content {
    background: lighten($defaultBackgroundColor, 20%);

  .finish-box {
      background: #8d9fa2;
      padding: 0px 0px 20px 0px;
      margin: 20px 0px 10px 0px;
      border-radius: 10px;
      opacity: .9;
    }

    .signup-col {
      margin: 0px 10px 0px 10px;
    }

    button {
      width: 100%;
      border-radius: 10px;
      vertical-align: middle;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    button:hover {
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25);
    }
  }

  .finish-content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url('../assets/tools.jpg');
    background-repeat: no-repeat;
    background-position: 10% 0%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
