$defaultBackgroundColor: #000;

page-awaiting-service {

  h2 {
    padding-top: 10px;
    text-align: center;
  }

  .map-details {
    background: lighten($defaultBackgroundColor, 20%);

    .map-box {
      color: #fff;
      background: #8d9fa2;
      border-radius: 10px;
      opacity: .9;
      padding: 4.5px;
    }
  }

  .map-details:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url('../assets/tools.jpg');
    background-repeat: no-repeat;
    background-position: 10% 0%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
